* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body, html {
  background-color: #D8DBE2;
  font-family: 'ibm_3270_semi-narrowmedium', monospace;
  font-size: 11pt;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'IBM 3270', serif;
  height: 100%;
  justify-content: space-between;
}

.page_header {
  width: 100%;
  height: 3em;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcfcfc;
  border-bottom:1px solid #727171;
  z-index: 12;
  padding-left: 1em;
}
/*
div.page_header nav {
  height: 50px;
  position: fixed;
  width: 100%;



  padding-right: 5em;
  display: flex;
  justify-content: space-between;
}
*/

/*
div.page_header img {
  padding: 7px 0 0 5px;
  max-width: 75%;
  display: block;
}
*/

.header-logo {
  width: 15em;
  height: 2em;
}

.header-container {
  padding-right: 3em;
}

div.header-container ul{
  display: flex;
  list-style-type: none;
  padding:5px;
}
div.header-container a{
  text-decoration: none;
  color: inherit;
}
div.header-container li{
  margin-right: 3px;
  margin-left: 3px;
}

div.table_of_contents {
  position: absolute;
  margin-top: 3em;
  padding: 25px 0 0 0;
  border: 0 solid #000000;
  display: block;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: 'ibm_3270_semi-narrowmedium', monospace;
  border-bottom: 1px solid #cc2255;
}

.active, .accordion:hover {
  background-color: #ccc;
}

div.section {

    border-left: 0;
    border-radius: 3px;
    width: 100%;
    align-content: center;
    border-top: 0;
    text-align: justify;
    display: block;
}
div.section .custom-h1{
  text-align: center;
  border: 1px solid gray;
}

div.content {
  display: inline-flex;
  max-width: 95%;
  overflow: hidden;
  transition: max-height .5s ease-out;
  margin-top: 0;
  max-height: 0;
}

div.section-content {
  text-align: justify;
  display: inline-flex;
  margin-top: 0;
  padding-right: 55px;
  max-width: 95%;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-out;
}

div.section-content #text-content{
  padding: 125px 0 0 0;
  text-align: justify;
  max-width: 66%;
}

div.section-content #minha-foto-content{
  border-radius: 100px;
  height:175px;
  width: 175px;
  align-items: center;
  margin: 60px;
}
.table-skills {
  width: 100%;
  padding-left: 5%;
  object-fit: cover;
}

.li-img {
  width: 100%;
  height: 55px;
  object-fit: fill;
}

.skills-badges {
  width: 100%;
}

.ul-skills{
  list-style-type: none;
  display: inline-flex;
  padding: 0 0 0 0;
  margin-left: 0;
  max-width: 100%;
}

.ul-skills li{
  width: 110px;
  height: 28px;
  border: 1px solid #000000;
  margin: 0 5px 5px 5px;
  padding: 5px 20px 5px 25px;
  border-radius: 5px;

}

div.destaque {
  display: inline-flex;
}

footer {
  border-top: 1px solid black;
  text-align: center;
  background-color: #F3F3F3;
  padding-top: 10px;
  padding-bottom: 0;
  position:fixed;
  bottom:0;
  width:100%;
}

footer img {
  padding-bottom:5px;
}
@font-face {
  font-family: 'ibm_3270_semi-narrowmedium';
  src: url('../fonts/3270seminarrow-webfont.woff2') format('woff2'),
       url('../fonts/3270seminarrow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
